<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FISDN Archive</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg registrationBlack">
      <a class="navbar-brand" href="#">FISDN.org</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a
              class="nav-link"
              target="_blank"
              href="http://www.signesdenuit.com/concept/concept_eng.html"
              >About us <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link lightgreen"
              target="_blank"
              href="http://www.signesdenuit.com"
              >signesdenuit.com</a
            >
          </li>
          
        </ul>
      </div>
    </nav>
    <div class="jumbotron">
      <h1 class="display-4">Signs of the night #18</h1>
      <p class="lead">Paris, Autumn 2020</p>
      <hr class="my-4" />
      <p>Submissions are open !</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
    </div>
    <div id="searchSection">
      <div id="searchDiv" class="form-inline justify-content-center">
        <input
          id="searchInput"
          class="form-control mr-sm-2"
          type="text"
          placeholder="...film or director name"
        />
        <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0">
          Search
        </button>
      </div>
    </div>
    <small id="searchInputMsg">Please enter at least 4 characters.</small>
    <div id="infoDiv"></div>
    <div id="resultDiv"></div>
    <footer id="footer">
      <p id="footerText">&copy FISDN</p>
      </li></ul> 
    </footer>
  <script type="text/javascript" src="https://fisdn.org/archive/assets/archive.js"></script></body>
</html>
