<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="http://fisdn.org/admin/assets/login.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>FISDN Login</title>
</head>
<body>
    <div class="container">
        <div class="login-block">
            <button class="button">FISDN login</button>
            <input id="email" type="text" class="input" placeholder="email">
            <input id="password" type="password" class="input" placeholder="password">
            <div id="loginButton" class="login">&#10148;</div>
        </div>
        <div class="signup-block">
            <p class="signup-par">or &nbsp<a href="http://fisdn.org/admin/signup" class="main-c__infoLink">sign up</a></p>
        </div>
    </div>
    <script src="http://fisdn.org/admin/assets/login.js"></script>
</body>
</html>