body
{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #343434;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;   
    height: 100%;
}

.signup-block
{
  margin-top: 30vh;  
  height: 30%;  
  color: #ffe66d;
  padding: 20px;
  background-color: #464646;
  border: 1px solid #fff5c99a;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
    font-family: inherit;
    margin: 2px;
    border: 1px solid #5d5428;
    border-radius: .3rem;
    text-decoration: none;
    background-color: #343434;
    color: #ffe66d;
    padding: 10px 8px;
    font-size: 1.1rem;
    height: 40px;
    margin-bottom: 15px;
  }

input
{
    font-family: inherit;
    margin: 2px;
    border: 1px solid #5d5428;
    border-radius: .3rem;
    background-color: #343434;
    color: #ffe66d;
    padding: 10px 8px;
    font-size: 1.1rem;
}

.signup
{
    color: #ffe66d;
    font-size: 3rem;
    margin-top: 15px;
    border: 1px solid #5d5428;
    background-color: #343434;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.signup:hover
{
    background-color: #8c7e3c;
    color: #343434;
    border: 1px solid #fff5c9;
    cursor: pointer;
}

.signup-par
{
font-size: 1.2rem;
color: #fff5c9;
}

.infoLink
{
  color: #8c7e3c;
}


@media (max-width: 900px)
{
    .login-block
    {
        margin-top: 10vh;
    }
}



